/* CSS */
/*-------iPhone用の設定-------*/
.container {
  text-align: center;
  overflow-x: hidden;
}
p,
li {
  font-size: 15px;
}
html,
body {
  font-family: serif;
  margin: 0px;
  padding: 0px;
  color: #f5f5f5;
  background: repeating-linear-gradient(60deg, #87cefa, #87cefa 20px, #0b8dde 0, #0b8dde 35px);
}

.header a {
  text-decoration: none;
  color: #fff;
}
.header h1 {
  display: flex;
  justify-content: space-around;
  border-style: dotted;
}
#header_text {
  margin: 0;
  padding: 0;
}
#img {
  width: 100%;
  height: calc(width * 2);
  background-position: center;
  background-size: 30%;
  background-repeat: no-repeat;
}
.carousel-item img {
  object-fit: cover;
}
#img_inner img,
.train_image img,
.hotspring img,
.aquarium img {
  object-fit: cover;
}

.access h2 {
  text-decoration: underline dotted orange;
}

.textbox ul li {
  list-style: none;
}

.textbox h2 {
  text-decoration: underline dotted orange;
}
.access {
  list-style: none;
}
.access p:last-of-type {
  font-weight: bold;
  font-size: 13pt;
  text-decoration: underline;
}
.schedule h3 {
  background-color: #f08300;
  width: 100%;
  text-align: center;
}
.aquarium .aquarium_target {
  background-color: blue;
}
.sightseeing {
  margin: 0 auto;
  width: 100%;
}
.sightseeing h4 {
  background-color: crimson;
  text-align: center;
}
.sightseeing a {
  text-decoration: none;
  color: #f5f5f5;
}
.sightseeing a :hover {
  background-color: #f08300;
}
.balloon_index {
  position: relative;
  width: fit-content;
  max-width: 200px;
  padding: 10px;
  background-color: #f08300;
  border-radius: 10px;
  margin: 0 auto;
}

.balloon_index:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border-top: 10px solid #f0f0f0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.guid_index {
  text-align: center;
}

#mapid {
  padding: 0px;
  height: 320px;
  width: 850px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
}
.textbox {
  border-bottom: 3px dashed;
  text-align: center;
}

#text {
  border: dotted yellow;
}
.about {
  text-align: center;
  background-color: rgb(95, 197, 231);
  border-radius: 10px;
}

.sightseeing_photo {
  display: flex;
  text-align: center;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
  padding: 0px;
}

#about {
  color: #583822;
  background-color: #ffdead;
  padding: 30px;
  margin-top: 100px;
  text-align: center;
  list-style: none;
}
.myportfolio {
  color: #583822;
  font-size: 15px;
}
/*planA.html*/
.balloon {
  position: relative;
  width: fit-content;
  max-width: 200px;
  padding: 10px;
  background-color: #f3bebe;
  border-radius: 10px;
  margin: 10px;
}

.balloon:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border-top: 10px solid #f0f0f0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.guid {
  text-align: center;
}

.planA_eska {
  display: flex;
  margin: 10px 20px 20px 20px;
}

.planA_eska_2,
.planA_hetumiya,
.planA_nakatumiya,
.planA_candle,
.planA_candle_2 {
  display: flex;
  margin: 20px;
}
.planA_title {
  color: #583822;
  text-align: center;
  margin: 100px;
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  width: 400px;
  height: 200px;
  margin: 50px auto;
}
.planA_title h2 {
  font-size: 50px;
  align-items: center;
}

.planA_eska h4,
.planA_hetumiya h4,
.planA_nakatumiya h4,
.planA_candle h4 {
  font-size: 20px;
}

.planA_eska h3,
.planA_hetumiya h3,
.planA_nakatumiya h3,
.planA_candle h3 {
  font-size: 25px;
}

.planA_eska span,
.planA_eska_2 span,
.planA_hetumiya span,
.planA_nakatumiya span,
.planA_candle span {
  display: block;
  text-align: left;
  margin-right: 50px;
  width: 50%;
  max-height: 550px;
}
.planA_candle_ span {
  margin-bottom: 30px;
}
.planA_candle_2 span {
  width: 50%;
  margin-top: 40px;
  margin-right: 50px;
}
.planA_eska h2,
.planA_hetumiya h2,
.planA_nakatumiya h2,
.planA_candle h2 {
  font-size: 40px;
}
.planA_eska span h4,
.planA_hetumiya h4,
.planA_nakatumiya h4,
.planA_candle h4 {
  border-bottom: #583822 solid 1px;
  padding-bottom: 10px;
}
.planA_eska_2 img {
  margin-bottom: 40px;
}

.planA_candle_2 img {
  max-height: 650px;
}
.planA_eska img,
.planA_eska_2 img,
.planA_hetumiya img,
.planA_nakatumiya img,
.planA_candle img,
.planA_candle_2 img {
  width: 50%;
  text-align: end;
}

/*planB.html*/
.planB_title {
  color: #583822;
  text-align: center;
  margin: 100px;
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  width: 400px;
  height: 200px;
  margin: 50px auto;
}

.planB_title h2 {
  font-size: 50px;
  align-items: center;
}

.planB_street {
  display: flex;
  margin: 10px 20px 20px 20px;
}

.planB_tacosen {
  display: flex;
  margin: 20px 20px 60px 20px;
}

.planB_shrine,
.planB_okutumiya,
.planB_chigokahuti,
.planB_iwaya {
  display: flex;
  margin: 20px;
}

.planB_street h4,
.planB_shrine h4,
.planB_okutumiya h4,
.planB_chigokahuti h4,
.planB_iwaya h4 {
  font-size: 20px;
}

.planB_street h3,
.planB_shrine h3,
.planB_okutumiya h3,
.planB_chigokahuti h3,
.planB_iwaya h3 {
  font-size: 25px;
}

.planB_street span,
.planB_tacosen span,
.planB_shrine span,
.planB_okutumiya span,
.planB_chigokahuti span,
.planB_iwaya span {
  text-align: left;
  margin-right: 50px;
  width: 50%;
  max-height: 550px;
}

.planB_street h2,
.planB_shrine h2,
.planB_okutumiya h2,
.planB_chigokahuti h2,
.planB_iwaya h2 {
  font-size: 40px;
}

.planB_street span h4,
.planB_shrine h4,
.planB_okutumiya h4,
.planB_chigokahuti h4,
.planB_iwaya h4 {
  border-bottom: #583822 solid 1px;
  padding-bottom: 10px;
}

.planB_street img,
.planB_tacosen img,
.planB_shrine img,
.planB_okutumiya img,
.planB_chigokahuti img,
.planB_iwaya img {
  width: 50%;
  text-align: end;
}

.planB_tacosen img {
  margin-bottom: 178px;
}
.planB_tacosen {
  align-items: center;
}

/*iPadの設定*/
@media screen and (max-width: 950px) {
  /*index.html*/
  .container {
    background-color: #583822;
  }
  .sightseeing_photo img {
    width: 230px;
  }
  #mapid {
    width: 100%;
  }
  .aquarium .aquarium_target {
    background-color: #87cefa;
  }
  .schedule h3 {
    background-color: rgb(184, 184, 0);
  }
  .balloon_index {
    background-color: #f3bebe;
  }
  .sightseeing h4 {
    background-color: rgb(218, 83, 110);
  }
  .sightseeing a :hover {
    background-color: #87cefa;
  }
  .about {
    background-color: rgb(218, 83, 110);
  }

  /*planA.html*/
  .planA_eska img,
  .planA_eska_2 img,
  .planA_hetumiya img,
  .planA_nakatumiya img,
  .planA_candle img {
    height: 280px;
    align-items: center;
  }
  .planA_candle_2 img {
    height: 420px;
  }

  .planA_eska span h4,
  .planA_hetumiya h4,
  .planA_nakatumiya h4,
  .planA_candle h4 {
    border-bottom: #f7f7f7 solid 1px;
  }
  /*planB.html*/
  .planB_street img,
  .planB_shrine img,
  .planB_okutumiya img,
  .planB_chigokahuti img,
  .planB_iwaya img {
    max-height: 280px;
    align-items: center;
  }
  .planB_tacosen img {
    max-height: 500px;
  }

  .planB_street span h4,
  .planB_shrine h4,
  .planB_okutumiya h4,
  .planB_chigokahuti h4,
  .planB_iwaya h4 {
    border-bottom: #f7f7f7 solid 1px;
  }
}

@media screen and (max-width: 750px) {
  /*index.html*/
  .balloon {
    margin: 0 auto;
  }

  #img_inner img,
  .train_image img,
  .hotspring img,
  .aquarium img {
    width: 100%;
    max-height: 250px;
  }
  .sightseeing_photo img {
    width: 180px;
  }

  /*planA.html*/
  .planA_eska,
  .planA_eska_2,
  .planA_hetumiya,
  .planA_nakatumiya,
  .planA_candle,
  .planA_candle_2 {
    display: grid;
    grid-column: 1fr;
    margin: 0;
  }
  .planA_eska img {
    margin-bottom: 20px;
  }
  .planA_eska span,
  .planA_eska_2 span,
  .planA_hetumiya span,
  .planA_nakatumiya span,
  .planA_candle span,
  .planA_candle_2 span {
    text-align: center;
    width: 100%;
  }

  .planA_eska img,
  .planA_eska_2 img,
  .planA_hetumiya img,
  .planA_nakatumiya img,
  .planA_candle img,
  .planA_candle_2 img {
    width: 100%;
    height: 310px;
  }
  .planA_candle_2 img {
    height: 400px;
  }
  .planA_hetumiya img,
  .planA_nakatumiya img {
    margin-bottom: 40px;
  }

  /*planB.html*/
  .planB_street,
  .planB_tacosen,
  .planB_shrine,
  .planB_okutumiya,
  .planB_chigokahuti,
  .planB_iwaya {
    display: grid;
    grid-column: 1fr;
    margin: 0;
  }

  .planB_street span,
  .planB_tacosen span,
  .planB_shrine span,
  .planB_okutumiya span,
  .planB_chigokahuti span,
  .planB_iwaya span {
    text-align: center;
    width: 100%;
  }

  .planB_street img,
  .planB_shrine img,
  .planB_okutumiya img,
  .planB_chigokahuti img,
  .planB_iwaya img {
    width: 100%;
    height: 310px;
  }
  .planB_tacosen img {
    width: 100%;
    height: 500px;
  }
  .planB_shrine img,
  .planB_okutumiya img,
  .planB_chigokahuti img {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 400px) {
  #img_inner img,
  .train_image img,
  .hotspring img,
  .aquarium img {
    height: 300px;
  }
  .planA_title,
  .planB_title {
    width: 100%;
    height: calc(width / 2);
  }
  .sightseeing_photo img {
    width: 135px;
  }
}

@media screen and (min-width: 950px) {
  .header h1 {
    font-size: 65px;
    font-family: monospace;
    transform: skewY(3deg);
  }
}
